# https://docs.docker.com/compose/compose-file
version: '3.9'
services:
    php:
        image: php:apache
        ports:
            - 8080:80
        volumes:
            - ./php:/var/www/html

    mongo:
        image: mongo
        restart: always
        environment:
            MONGO_INITDB_ROOT_USERNAME: root
            MONGO_INITDB_ROOT_PASSWORD: example

    php-mongo:
        build: ./php-mongo
        ports:
            - 82:80
        depends_on:
            - mongo
        volumes:
            - ./php-mongo/www:/var/www/html
        environment:
            MONGO_USERNAME: root
            MONGO_PASSWORD: example
            MONGO_HOST: mongo

    angularjs:
        build: ./angularjs
        ports:
            - 83:8000
        volumes:
            - ./angularjs/seed:/seed

    intercomms:
        # https://hub.docker.com/_/busybox (wanted it for ping) (https://en.wikipedia.org/wiki/BusyBox#Commands)
        image: busybox
        depends_on:
            - php
        command: ping -c 5 php

    ssl:
        image: caddy
        restart: unless-stopped
        ports:
            - 84:80
            - 443:443
        volumes:
            - $PWD/ssl/index.html:/usr/share/caddy/index.html
            - caddy_data:/data
            - caddy_config:/config
        # https://caddyserver.com/docs/command-line
        command: caddy file-server --root /usr/share/caddy --domain localhost

volumes:
  caddy_data:
  caddy_config:
